<link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
<style type="text/css">
    .container{
        background: url('/img/welcome.jpg')center/cover fixed no-repeat;
        font-family: 'Lora';
    }
    .card{
        margin-top: 2rem;
        background-color: rgba(93, 91, 91, 0.5);
        border-radius: 20px;
        transition: all 1s ease-in-out;
    }
    img{
        
        width: 7rem;
        height: 7rem;
        align-self: center;
    }
    .card:hover{
        background-color: rgba(36, 32, 32, 0.8);
    }
    .btn{
        font-size: 1.2rem;
        padding: 0.8rem 3rem;
        border-radius: 10px;
    }
    .btn{
        background-color: rgba(202, 66, 66, 0.883);
        /* transition: all 1s ease-in-out; */
    }
    .btn:hover{
        background-color: rgb(214, 29, 13);
    }
    .btn:active{
        transform: translateY(4px);
    
    }
    .btn1{
    background-color: rgba(0, 127, 144, 0.705);
    color: white;
    position: absolute;
    font-size: 1.2rem;
    padding: 0.4rem 0.8rem;
    right: 25px;
    top: 25px;
    border-radius: 8px;
    border: none;
    /* transition: all 0.7s ease-in-out; */
    }
    .btn1:hover{
        text-decoration: none;
        background-color: rgba(246, 1, 1, 0.924);
        color: white;;
        
    }
    .btn1:active{
        background-color: #EB5757;
        /* box-shadow: 0 5px #666; */
        transform: translateY(4px);
    }
</style>

<title>Volunteer Page</title>
<body class="container">
    <a href="/" class="btn1"><b>Home</b></a>
    <div class="row mt-5">
        <div class="col-md-6 m-auto">
            <div class="card card-body">
                <img src="/img/vlnt.png" alt="" >
    
                <%- include('partials/messages'); %>
                
                <form action="/users/volunteer" method="POST">
                    <div class="form-group">
                        <label for="name" style="color: rgb(255, 255, 255);"><b>Full Name<b></label>
                        <input 
                            type="name"
                            id="name"
                            name="name"
                            class="form-control"
                            placeholder="Enter Name"
                            value="<%= typeof name != 'undefined' ? name: '' %>"/>
                    </div>
                    <div class="form-group">
                      <label for="phone" style="color: white">Mobile Number</label>
                      <input 
                          type="number"
                          id="phone"
                          name="phone"
                          class="form-control"
                          placeholder="Enter Mobile Number"
                          value="<%= typeof phone != 'undefined' ? phone: '' %>"/>
                  </div>

                    <div class="form-group">
                        <label for="email" style="color: white">Email</label>
                        <input 
                            type="email"
                            id="email"
                            name="email"
                            class="form-control"
                            placeholder="Enter Email Address"
                            value="<%= typeof email != 'undefined' ? email: '' %>"/>
                    </div>
                    <div class="form-group">
                      <label for="spec" style="color: white">Specialization</label>
                      <input 
                          type="text"
                          id="spec"
                          name="spec"
                          class="form-control"
                          placeholder="Enter Specialization"
                          value="<%= typeof spec != 'undefined' ? spec: '' %>"/>
                  </div>
                  <button type="submit" class="btn btn-block" style="color: white; font-family: Lora">Register</button>
                </form>
            </div>
        </div>
    </div>
</body>>
